 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

html {
  box-shadow: 0 0 0 30px #000000 inset;
  padding: 0 30px;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', helvetica, sans;
  min-height: 100vh;
}
.site-container {
  display: flex;
  flex: 1 1 0;
  padding-top: 10vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', helvetica, sans;
  font-weight: 100;
}

h1 {
  font-size: 3em;
  text-align: center;
}
.page h1 {
  margin-top: 2em;
}
h2 {
  font-size: 2em;
}
h2 a {
  font: inherit
}
h2 + p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-weight: bold;
  text-transform: uppercase;
}
a {
  color: #6397b5;
}
p {
  line-height: 1.5;
}
p ~ p {
  margin-top: 0.75em;
}

/* HEADER STYLES */
.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  height: 10vh;
  left: -30px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 10vh;
}
.header-logo:hover, 
.header-logo:active {
  background-color: #ed6e2f;
}
.header-logo img {
  height: 80%;
}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav a {
  color: #fff;
}
.nav-links a {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover, .nav-links a:active  {
  color: #ed6e2f;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  color: #fff;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255,255,255,0.3);
  padding-left: 1em;
}

/* FOOTER STYLES */
.footer {
  background-color: #000;
  padding: 40px 0 60px;
  text-align: center;
}
.footer-logo {
  width: 50px;
}
.footer-nav li {
  display: inline-block;
  margin: 2em 1em 0;
}
.footer-nav a {
  color: #fff;
}
.footer h3 {
  color: #fff;
  font-size: 1.2em;
  padding-top: 1.5em;
  text-transform: uppercase;
}
.footer h3 span {
  color: #aaa;
}

.social-link {
  background: rgba(150,150,150,0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1em;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}
.full-hero {
  background-color: #c7dbfc;
  background-image: url(/images/hero.jpg);
  background-position: center top;
  background-size: cover;
  box-sizing: border-box;
  padding: 10vh 0 0;
  position: relative;
  height: 90vh;
} 
.full-hero:after {
  bottom: 2vh;
  border: 10px solid #000;
  border-color: #fff transparent transparent;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(0,-50%);
  width: 0;
}
.hero-content {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0,-50%);
}
.hero-content h1 {
  color: rgba(255,255,255,0.8);
  font-size: 7vw;
  margin-bottom: 0.25em;
}
.hero-content .social-link {
  background-color: rgba(255,255,255,0.8);
  color: #557c83;
}
.hero-content .social-link:hover {
  background-color: #000;
  color: #fff;
}
.home-section {
  margin: 6rem auto;
  max-width: 980px;
  width: 85vw;
}
.home-section h2 {
  font-size: 2em;
  margin-bottom: 1.5rem;
  text-align: center;
}

.home-callout {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 7vh 0;
}
.home-callout h3 {
  color: inherit;
  margin-top: 1em;
}
.callout-title {
  flex: 1;
  font-size: 5.75vw;
  text-align: right;
  text-transform: uppercase;
}
.callout-copy {
  font-size: 0.8rem;
  flex: 0 0 50%;
  max-width: 600px;
  padding: 0 3vw;
}

.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
} 
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}
.bio-wrapper {
  overflow: hidden;
} 
.bio-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.bio-box {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 6rem 0 0;
  padding: 0 3%;
  width: 33%;
}
.bio-box h3 {
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}
.bio-box > img {
  width: 100%;
}
.bio-box .social-link {
  display: block;
  margin: 0 auto 2em;
}
.bio-copy {
  font-size: 0.75em;
}

#first-bio {
  background-color: #ccc;
}

.col-three {
  display: flex;
  flex: 1 1 0;
}
.col {
  box-sizing: border-box;
  padding: 2em;
}
.col-three .col ~ .col {
  border-left: 1px solid rgba(0,0,0,0.1);
}
.col-three .col-nav {
  flex: 0 1 15em;
}
.col-three .col-content {
  flex: 1;
}
.col-three .col-aside {
  flex: 0 1 20em
}
.col-two {
  display: flex;
}
.col-two .col-aside {
  flex:  0 1 20em;
  order: 1;
}
.col-two .col-content {
  flex: 1;
}


/* GALLERY STLYES */

.gallery-thumbs img {
  box-sizing: border-box;
  border: 5px solid transparent;
  display: inline-block;
  margin: 0 0 10px 0;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.gallery-thumbs img:hover {
  opacity: 1;
}
.photo-title,
.photo-desc {
  display: none;
}
.gallery-thumbs .current img {
  border-color: #ed6e2f;
  opacity: 1;
}
.gallery-photo {
  position: relative;
}
.gallery-photo img {
  width: 100%;
}
.gallery-info {
  font-size: 0.8rem;
}
.gallery-info h3 {
  margin-bottom: 1em;
}
.gallery-photo img + img {
  left: 0;
  position: absolute;
  top: 0;
}
.gallery-thumbs {
  height: 90vh;
  overflow: scroll;
}

/* BLOG STYLES */

.page {
  margin: auto;
  max-width: 980px;
  width: 85vw;
}

.blog-index .col-aside {
  text-align: right;
}
.blog-index h4 {
  color: #999;
  margin-bottom: 1em;
}
.blog-title-list {
  list-style: none;
}
.blog-title-list span {
  color: #999;
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5em;
}
.blog-title-list li ~ li {
  margin-top: 1.5em;
}

.post-header {
  margin-bottom: 1.5em;
}
.post-header h1, h2 {
  margin-bottom: 0.5em;
}
.post-header img {
  border-radius: 99px;
  display: inline-block;
  height: 2.5em;
  vertical-align: middle;
}
.post-header img, 
.post-header .social-link {
  margin-right: 0.5em;
}
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0,0,0,0.1);
  margin-top: 4em;
  padding-top: 4em;
}
.blog-posts .post-header {
  font-size: 0.8rem;
}
.posts-image {
  background-position: center;
  background-size: cover;
  height: 6em;
  margin-bottom: 1.5em;
}

.half-hero {
  background-size: cover;
  height: 50vh;
}
.pull-left {
  float: left;
  margin: 2em 2em 2em -2%;
}
.pull-right {
  float: right;
  margin: 2em -2% 2em 2em
}
.post {
  margin: 0 auto 10em;
}
.post .post-header, 
.post .post-content, 
.post-footer {
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.post-aside {
  background-color: rgba(0,0,0,0.01);
  float: right;
  margin: 0 0 2em 2em;
  padding: 2em;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
}
.post .post-content {
  font-size: 1.1rem;
}
.post-footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  font-style: italic;
  margin-top: 3em;
  padding-top: 2em;
}
.post-footer p {
  font-size: 0.8em;
}






@media (max-width: 800px) {
html {
  box-shadow: none;
  padding: 0;
}
.header {
  position: relative;
  height: auto;
}
.header-logo {
  height: auto;
  left: 0;
  width: auto;
}
.header-nav {
  
}
.header-logo img {
  width: 5vw;
}
.post-aside {
  display: none;
}
}
