---
layout: default
---

<div class="full-hero">
  <div class="hero-content">
    <h1>Code Dangerously</h1>
    <ul class="social-list">
      <li>
        <a href="http://www.google.com" class="social-link">Fb</a>
      </li>
      <li>
        <a href="http://www.google.com" class="social-link">Tw</a>
      </li>
      <li>
        <a href="http://www.google.com" class="social-link">Gh</a>
      </li>
    </ul>
  </div>
</div>

<div class="home-section">
  <h2>THE FOUNDERS</h2>
  <p>Learn Enough™ to Be Dangerous was founded in 2015 by Michael Hartl, Lee Donahoe, and Nick Merwin. We believe that the kind of technical sophistication taught by the Learn Enough™ tutorials can benefit at least a billion people, and probably more.</p>

  <div class="bio-wrapper">
    <div class="bio-box">
      <h3>Michael Hartl</h3>
      <a href="http://twitter.com/mhartl" class="social-link" target="_blank">Tw</a>
      <div class="bio-copy">
        <p>
          Known for his dazzling charm, rapier wit, and unrivaled humility, Michael is 
          the creator of the <a href="http://railstutorial.org/">Ruby on Rails 
          Tutorial</a> and principal author of the <a href="http://learnenough.com/">
          Learn Enough™ to Be Dangerous</a> introductory sequence. Michael is also 
          notorious as the founder of <a href="http://tauday.com/">Tau Day</a> and 
          author of <a href="http://tauday.com/tau-manifesto"><em>The Tau Manifesto
          </em></a>, but rumors that he's secretly a supervillain are slightly 
          exaggerated. You should follow Michael on Twitter:
        </p>
      </div>
      
    </div>
    <div class="bio-box">
      <h3>Lee Donahoe</h3>
      <a href="https://twitter.com/leedonahoe" class="social-link" target="_blank">Tw</a>
      <div class="bio-copy">
        <p>
          When he's not literally swimming with sharks or hunting powder stashes on his 
          snowboard, you can find Lee in front of his computer designing interfaces, 
          doing front-end development, or writing some of the interface-related Learn 
          Enough™ tutorials. You should follow Lee on Twitter:
        </p>
      </div>
      
    </div>
    <div class="bio-box">
      <h3>Nick Merwin</h3>
      <a href="https://twitter.com/nickmerwin" class="social-link" target="_blank">Tw</a>
      <div class="bio-copy">
        <p>
          You may have seen him shredding guitar live with Capital Cities on Jimmy Kimmel, 
          Conan, or The Ellen Show, but rest assured Nick is a true nerd at heart. He’s 
          just as happy shredding well-spec'd lines of code from a tour bus as he is from 
          his kitchen table. You should follow Nick on Twitter:
        </p>
      </div>
      
    </div>
  </div>
</div>
<div class="home-section">
  <p>
    Good morning. In less than an hour, aircraft from here will join others from 
    around the world. And you will be launching the largest aerial battle in the 
    history of mankind. “Mankind.” That word should have new meaning for all of us 
    today. We can’t be consumed by our petty differences anymore. We will be united 
    in our common interests. Perhaps it’s fate that today is the Fourth of July, and 
    you will once again be fighting for our freedom… Not from tyranny, oppression, 
    or persecution… but from annihilation. We are fighting for our right to live. To 
    exist. And should we win the day, the Fourth of July will no longer be known as 
    an American holiday, but as the day the world declared in one voice: We will not 
    go quietly into the night! We will not vanish without a fight!  We’re going to 
    live on! We’re going to survive! Today we celebrate our Independence Day!
  </p>
</div>